.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    /* display: none; */
    position: absolute;
    /* background-color: 'transparent'; */
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 4px;
    z-index: 1;
}

.dropdownContent a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: 'transparent';
}
