@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义卡片翻转的样式 */
.perspective {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
